// main.sass - the stylesheet of the landing pages

@import reset
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300,400,500,600,700,800,900'

// @VARIABLES

$bfont: 'Work Sans', Arial, sans-serif
$hfont: 'Work Sans', Arial, sans-serif

$blue: rgb(0,128,201)
$MSP: rgb(0,154,128)
$MDE: rgb(255,198,27)
$MLD: rgb(208,38,50)
$MDS: rgb(117,81,149)
$MLA: rgb(240, 125, 23)
$gray: rgb(227,231,235)

// @GLOBAL
html,
body
	font: 14px $bfont
	height: 100%
	max-height: 900px
	width: 100%
	overflow: hidden

h1,
h2,
h3,
h4,
h5,
h6
	font: 160% $hfont
	line-height: 1
	text-transform: uppercase

a
	text-decoration: none

#global,
#domains
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: flex-start
	align-content: flex-start
	h2
		margin: 20px auto
		width: 100%
		text-align: left
		font-size: 3em
		span
			background-color: $blue
			color: white
			padding: 10px 20px
			font-weight: 600

.global
	width: calc(50% - 10px * 2)

.domain
	width: calc(100% / 3 - 10px * 3)

.domain,
.global
	margin: 10px
	.illus
		position: relative
		height: 240px
		border-bottom: 10px solid
		h3
			margin-top: 10px
			padding: 5px 10px
			color: white
			display: inline-block
			font-size: 2.2em
			font-weight: 600
			letter-spacing: 0.2em
		.morebtn
			position: absolute
			bottom: 20px
			right: 15px
			background-color: $blue
			color: white
			border: 0
			border-radius: 3px
			padding: 6px 10px 10px
			font-size: 1.4em
			font-weight: 600
			cursor: pointer
.more
	width: 100%
	box-sizing: border-box
	display: none
	border: 2px solid
	.intro
		font-size: 1.8em
		letter-spacing: 0.2em
		padding: 5px 10px 15px
		font-weight: 600
		color: white
	.content
		font-size: 1.4em
		padding: 10px
.more.read
	display: block

article#DDD
	.illus
		background: url('img/DDD.jpg') no-repeat center/cover
		border-color: $blue
		h3
			background-color: $blue
	.more
		border-color: $blue
		.intro
			background-color: $blue
article#SAISIR
	.illus
		background: url('img/SAISIR.jpg') no-repeat center/cover
		border-color: $blue
		h3
			background-color: $blue
	.more
		border-color: $blue
		.intro
			background-color: $blue
article#MSP
	.illus
		background: url('img/MSP.jpg') no-repeat center/cover
		border-color: $MSP
		h3
			background-color: $MSP
	.more
		border-color: $MSP
		.intro
			background-color: $MSP
article#MDE
	.illus
		background: url('img/MDE.jpg') no-repeat center/cover
		border-color: $MDE
		h3
			background-color: $MDE
	.more
		border-color: $MDE
		.intro
			background-color: $MDE
article#MLD
	.illus
		background: url('img/MLD.jpg') no-repeat center/cover
		border-color: $MLD
		h3
			background-color: $MLD
	.more
		border-color: $MLD
		.intro
			background-color: $MLD
article#MDS
	.illus
		background: url('img/MDS.jpg') no-repeat center/cover
		border-color: $MDS
		h3
			background-color: $MDS
	.more
		border-color: $MDS
		.intro
			background-color: $MDS
article#MLA
	.illus
		background: url('img/MLA.jpg') no-repeat center/cover
		border-color: $MLA
		h3
			background-color: $MLA
	.more
		border-color: $MLA
		.intro
			background-color: $MLA

main#DDD
	box-sizing: border-box
	padding: 10px
	font-size: 120%
	header
		background: url('img/DDD.jpg') no-repeat center/cover
		padding: 10px 0 20px
		nav#home
			margin: 0 0 60px
			a
				text-transform: uppercase
				font-size: 140%
				color: white
				background-color: $blue
				padding: 3px 10px 5px
				font-weight: 600
		h2
			margin: 50px auto 30px
			width: 100%
			text-align: left
			font-size: 2.4em
			letter-spacing: 0.1em
			span
				background-color: $blue
				color: white
				padding: 10px 20px
				font-weight: 600
	section
		display: grid
		grid-template-columns: 1fr 1fr
		grid-template-rows: 1fr
		grid-gap: 20px
		box-sizing: border-box
		article#what
			grid-column: 1
		article#who
			grid-column: 2
		article
			grid-row: 1
			h3
				margin-top: 20px
				background-color: $blue
				padding: 5px 10px
				color: white
				display: inline-block
				font-size: 1.8em
				font-weight: 600
				letter-spacing: 0.1em
			p
				margin: 10px 0 20px
				line-height: 1.6
				padding: 0 20px
			ul
				list-style: circle
				padding: 0 20px
				padding-left: 50px				
				li
					margin-bottom: 5px
main#DOM
	box-sizing: border-box
	padding: 10px
	font-size: 120%
	nav#domains
		display: grid
		height: calc(900px - 20px)
		grid-template-columns: 2fr 3fr
		grid-template-rows: 40px repeat(5, 1fr)
		grid-gap: 10px
		box-sizing: border-box
		nav#home
			grid-column: 1 / span 2
			grid-row: 1
			align-self: center
			a
				text-transform: uppercase
				font-size: 140%
				color: white
				background-color: $blue
				padding: 3px 10px 5px
				font-weight: 600
		.domain
			margin: 0
			width: 100%
			height: 100%
			box-sizing: border-box
			grid-column: 1
			justify-self: stretch
			align-self: stretch
			cursor: pointer
			.illus
				box-sizing: border-box
				width: 100%
				height: 100%
				button
					bottom: calc(50% - 38px)
					background-color: transparent
					font-family: consolas,sans-serif
					font-size: 300%
		.content
			padding: 20px
			margin: 20px 0
			line-height: 1.4
				
		#MSP
			grid-row: 2
		#moreMSP
			border-color: $MSP
			.intro
				background-color: $MSP
		#MDE
			grid-row: 3
		#moreMDE
			border-color: $MDE
			.intro
				background-color: $MDE
		#MLD
			grid-row: 4
		#moreMLD
			border-color: $MLD
			.intro
				background-color: $MLD
		#MDS
			grid-row: 5
		#moreMDS
			border-color: $MDS
			.intro
				background-color: $MDS
		#MLA
			grid-row: 6
		#moreMLA
			border-color: $MLA
			.intro
				background-color: $MLA
		.more
			justify-self: stretch
			align-self: stretch
			grid-column: 2
			grid-row: 2 / span 5