@import 'https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300,400,500,600,700,800,900';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  font: 14px "Work Sans", Arial, sans-serif;
  height: 100%;
  max-height: 900px;
  width: 100%;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 160% "Work Sans", Arial, sans-serif;
  line-height: 1;
  text-transform: uppercase; }

a {
  text-decoration: none; }

#global,
#domains {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start; }
  #global h2,
  #domains h2 {
    margin: 20px auto;
    width: 100%;
    text-align: left;
    font-size: 3em; }
    #global h2 span,
    #domains h2 span {
      background-color: #0080c9;
      color: white;
      padding: 10px 20px;
      font-weight: 600; }

.global {
  width: calc(50% - 10px * 2); }

.domain {
  width: calc(100% / 3 - 10px * 3); }

.domain,
.global {
  margin: 10px; }
  .domain .illus,
  .global .illus {
    position: relative;
    height: 240px;
    border-bottom: 10px solid; }
    .domain .illus h3,
    .global .illus h3 {
      margin-top: 10px;
      padding: 5px 10px;
      color: white;
      display: inline-block;
      font-size: 2.2em;
      font-weight: 600;
      letter-spacing: 0.2em; }
    .domain .illus .morebtn,
    .global .illus .morebtn {
      position: absolute;
      bottom: 20px;
      right: 15px;
      background-color: #0080c9;
      color: white;
      border: 0;
      border-radius: 3px;
      padding: 6px 10px 10px;
      font-size: 1.4em;
      font-weight: 600;
      cursor: pointer; }

.more {
  width: 100%;
  box-sizing: border-box;
  display: none;
  border: 2px solid; }
  .more .intro {
    font-size: 1.8em;
    letter-spacing: 0.2em;
    padding: 5px 10px 15px;
    font-weight: 600;
    color: white; }
  .more .content {
    font-size: 1.4em;
    padding: 10px; }

.more.read {
  display: block; }

article#DDD .illus {
  background: url("img/DDD.jpg") no-repeat center/cover;
  border-color: #0080c9; }
  article#DDD .illus h3 {
    background-color: #0080c9; }
article#DDD .more {
  border-color: #0080c9; }
  article#DDD .more .intro {
    background-color: #0080c9; }

article#SAISIR .illus {
  background: url("img/SAISIR.jpg") no-repeat center/cover;
  border-color: #0080c9; }
  article#SAISIR .illus h3 {
    background-color: #0080c9; }
article#SAISIR .more {
  border-color: #0080c9; }
  article#SAISIR .more .intro {
    background-color: #0080c9; }

article#MSP .illus {
  background: url("img/MSP.jpg") no-repeat center/cover;
  border-color: #009a80; }
  article#MSP .illus h3 {
    background-color: #009a80; }
article#MSP .more {
  border-color: #009a80; }
  article#MSP .more .intro {
    background-color: #009a80; }

article#MDE .illus {
  background: url("img/MDE.jpg") no-repeat center/cover;
  border-color: #ffc61b; }
  article#MDE .illus h3 {
    background-color: #ffc61b; }
article#MDE .more {
  border-color: #ffc61b; }
  article#MDE .more .intro {
    background-color: #ffc61b; }

article#MLD .illus {
  background: url("img/MLD.jpg") no-repeat center/cover;
  border-color: #d02632; }
  article#MLD .illus h3 {
    background-color: #d02632; }
article#MLD .more {
  border-color: #d02632; }
  article#MLD .more .intro {
    background-color: #d02632; }

article#MDS .illus {
  background: url("img/MDS.jpg") no-repeat center/cover;
  border-color: #755195; }
  article#MDS .illus h3 {
    background-color: #755195; }
article#MDS .more {
  border-color: #755195; }
  article#MDS .more .intro {
    background-color: #755195; }

article#MLA .illus {
  background: url("img/MLA.jpg") no-repeat center/cover;
  border-color: #f07d17; }
  article#MLA .illus h3 {
    background-color: #f07d17; }
article#MLA .more {
  border-color: #f07d17; }
  article#MLA .more .intro {
    background-color: #f07d17; }

main#DDD {
  box-sizing: border-box;
  padding: 10px;
  font-size: 120%; }
  main#DDD header {
    background: url("img/DDD.jpg") no-repeat center/cover;
    padding: 10px 0 20px; }
    main#DDD header nav#home {
      margin: 0 0 60px; }
      main#DDD header nav#home a {
        text-transform: uppercase;
        font-size: 140%;
        color: white;
        background-color: #0080c9;
        padding: 3px 10px 5px;
        font-weight: 600; }
    main#DDD header h2 {
      margin: 50px auto 30px;
      width: 100%;
      text-align: left;
      font-size: 2.4em;
      letter-spacing: 0.1em; }
      main#DDD header h2 span {
        background-color: #0080c9;
        color: white;
        padding: 10px 20px;
        font-weight: 600; }
  main#DDD section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    box-sizing: border-box; }
    main#DDD section article#what {
      grid-column: 1; }
    main#DDD section article#who {
      grid-column: 2; }
    main#DDD section article {
      grid-row: 1; }
      main#DDD section article h3 {
        margin-top: 20px;
        background-color: #0080c9;
        padding: 5px 10px;
        color: white;
        display: inline-block;
        font-size: 1.8em;
        font-weight: 600;
        letter-spacing: 0.1em; }
      main#DDD section article p {
        margin: 10px 0 20px;
        line-height: 1.6;
        padding: 0 20px; }
      main#DDD section article ul {
        list-style: circle;
        padding: 0 20px;
        padding-left: 50px; }
        main#DDD section article ul li {
          margin-bottom: 5px; }

main#DOM {
  box-sizing: border-box;
  padding: 10px;
  font-size: 120%; }
  main#DOM nav#domains {
    display: grid;
    height: calc(900px - 20px);
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 40px repeat(5, 1fr);
    grid-gap: 10px;
    box-sizing: border-box; }
    main#DOM nav#domains nav#home {
      grid-column: 1/span 2;
      grid-row: 1;
      align-self: center; }
      main#DOM nav#domains nav#home a {
        text-transform: uppercase;
        font-size: 140%;
        color: white;
        background-color: #0080c9;
        padding: 3px 10px 5px;
        font-weight: 600; }
    main#DOM nav#domains .domain {
      margin: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      grid-column: 1;
      justify-self: stretch;
      align-self: stretch;
      cursor: pointer; }
      main#DOM nav#domains .domain .illus {
        box-sizing: border-box;
        width: 100%;
        height: 100%; }
        main#DOM nav#domains .domain .illus button {
          bottom: calc(50% - 38px);
          background-color: transparent;
          font-family: consolas, sans-serif;
          font-size: 300%; }
    main#DOM nav#domains .content {
      padding: 20px;
      margin: 20px 0;
      line-height: 1.4; }
    main#DOM nav#domains #MSP {
      grid-row: 2; }
    main#DOM nav#domains #moreMSP {
      border-color: #009a80; }
      main#DOM nav#domains #moreMSP .intro {
        background-color: #009a80; }
    main#DOM nav#domains #MDE {
      grid-row: 3; }
    main#DOM nav#domains #moreMDE {
      border-color: #ffc61b; }
      main#DOM nav#domains #moreMDE .intro {
        background-color: #ffc61b; }
    main#DOM nav#domains #MLD {
      grid-row: 4; }
    main#DOM nav#domains #moreMLD {
      border-color: #d02632; }
      main#DOM nav#domains #moreMLD .intro {
        background-color: #d02632; }
    main#DOM nav#domains #MDS {
      grid-row: 5; }
    main#DOM nav#domains #moreMDS {
      border-color: #755195; }
      main#DOM nav#domains #moreMDS .intro {
        background-color: #755195; }
    main#DOM nav#domains #MLA {
      grid-row: 6; }
    main#DOM nav#domains #moreMLA {
      border-color: #f07d17; }
      main#DOM nav#domains #moreMLA .intro {
        background-color: #f07d17; }
    main#DOM nav#domains .more {
      justify-self: stretch;
      align-self: stretch;
      grid-column: 2;
      grid-row: 2/span 5; }

/*# sourceMappingURL=main.css.map */
